.container {
  width: 640px;
  margin: auto;
  margin-top: 150px;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  padding: 40px 50px;
}

.container hr {
  height: 2px;
  border: none;
  background: #707070;
  margin-bottom: 25px;
  margin-top: 15px;
}

.container h2 {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 15px;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

.container ul li:hover {
  background: #5539fa;
  color: #fff;
}

button {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 250px;
  height: 65px;
  background: #5539fa;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}

.selected {
  background: #5539fa;
  color: #fff;
}
.container .sources {
  margin: auto;
  font-size: 18px;
  text-align: center;
}

.score {
  text-align: center;
}
